<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&sect; stack.self </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik|Rubik+Mono+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <main class="container">
        <h1 style="font-size:14vw"><a href="/">stack.self</a></h1>
        <h2 >&#10095; &#10095; A library of open-ended questions to ask yourself. &#10094; &#10094;</h2>
        {{{body}}}
    </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>