{{#each questions as |question index|}}
<div class="library">
    [<a href='/question/topics'>{{ question.topic}}</a>]
    <a href='/question/{{ question._id }}'>{{ question.content }}</a>
</div>
{{/each}}

<div class="container2">
<div class="card">
<div class="card-content">
<h3 style="font-size:3vw">Add a new question</h3>
<form action="/question" method="post">
    <input type="text" name="question[content]" placeholder="???">
    <input type="text" name="question[topic]" placeholder="File this under...">
    <input type="submit" value="Add">
</form>
</div>
</div>
</div>

