{{#each questions as |question index|}}
<h3>
    [<a href='/question/topics'>{{ question.topic}}</a>]
    <a href='/question/{{ question._id }}'>{{ question.content }}</a>
</h3>
{{/each}}

<div class="container">
<div class="card">
<div class="card-content">
<h2>Ask a new question</h2>
<form action="/question" method="post">
    <input type="text" name="question[content]" placeholder="???">
    <input type="text" name="question[topic]" placeholder="File this under...">
    <input type="submit" value="Add">
</form>
</div>
</div>


</div>

