
{{#each questions as |question index|}}
<h3>
    [<a href='/question/{{ question.topic }}'>{{ question.topic}}</a>]
    <a href='/question/{{ question.content }}'>{{ question.content }}</a>

</h3>
{{/each}}

<h2>Ask a new question</h2>
<form action="/question" method="post">
    <input type="text" name="questions[content]" placeholder="???">
    <input type="text" name="questions[topic]" placeholder="File this ? under...">
    <input type="submit" value="submit">
</form>