{{#each questions as |question index|}}
{{!-- <h5>
    
</h5> --}}

<h3>
    [<a href='/question/{{ question.topic }}'>{{ question.topic}}</a>]
    <a href='/question/{{ question.content }}'>{{ question.content }}</a>

</h3>
{{/each}}