html {
    min-height: 100%;
  }

main {
    text-align: left;
}

.container2 {
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.container3 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.container4 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}


h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 12vw;    
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: 'Roboto Mono One', monospace;
    font-size: 2.1vw;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;

}

h3 {
    font-family: 'Roboto Mono One', monospace;
    font-size: 2.5vw;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;  
}

.welcome {
    font-family: 'Roboto Mono', monospace;
    font-size: 3.8vw;
    font-weight: 800;
    white-space: nowrap;
    text-align: center !important;
}

.library {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    padding: 4px;
}

.show-question {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-size: 7vw;
    font-weight: 900;
}

.show-topic  {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-size: 2.7vw;
    font-weight: bolder;
    white-space: nowrap;
}

